<h5>{{ title }}</h5>

<table class = "table">
  <thead>
    <th>Group</th>
    <th>Receiving</th>
    <th>Action<th>
  </thead>
  <tbody>
    {% for group in groups %}
    {% set url = group.is_subscribe ? 'unsubscribe' : 'subscribe' %}
    
    <tr>            
      <td>{{ group.title }}</td>
      <td>{{ group.is_subscribe ? 'Yes' : 'No' }}</td>
      <td><a href="/group-subscription/{{ group.id }}/{{ url }}">{{ url }}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
